<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Procesar CSV</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Procesar CSV</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <h3>{{dateInMilis | date:'dd/MM/yy'}}</h3>
                </div>
                <div class="col-4">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Estudiantes</mat-label>
                        <input type="text" placeholder="Seleccionar estudiante" aria-label="Number" matInput
                            [formControl]="myControl" [matAutocomplete]="auto">
                        <mat-autocomplete autoActiveFirstOption [displayWith]="getDisplayFn()" #auto="matAutocomplete">
                            <mat-option *ngFor="let student of filteredStudents | async" [value]="student">
                                {{student.name}} {{student.fathersLastName}} {{student.mothersLastName}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <button class="btn btn-default" (click)="printFormValue()">Guardar</button>
                </div>
                <div class="col-4">
                    <div class="form-group row">
                        <label for="search" class="col-sm-4 col-form-label">Buscar</label>
                        <div class="col-sm-8">
                            <input [(ngModel)]="searchValue" type="text" class="form-control" id="search"
                                placeholder="Buscar...">
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <input type="file" accept=".csv" (change)="onFileUpload($event)">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-1">
                            <h6>Matrícula</h6>
                        </div>
                        <div class="col-3">
                            <h6>Nombre</h6>
                        </div>
                        <div class="col-3">
                            <h6>Apellido Paterno</h6>
                        </div>
                        <div class="col-3">
                            <h6>Apellido Materno</h6>
                        </div>
                        <div class="col-1">
                            <h6>Edad</h6>
                        </div>
                        <div class="col-1">
                            <h6>Género</h6>
                        </div>
                    </div>
                    <ng-container *ngFor="let student of listPaginatorData | async | studentsPipe:searchValue">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-1">
                                        <p>{{student.id}}</p>
                                    </div>
                                    <div class="col-3">
                                        <p>{{student.name | uppercase}}</p>
                                    </div>
                                    <div class="col-3">
                                        <p>{{student.fathersLastName | uppercase}}</p>
                                    </div>
                                    <div class="col-3">
                                        <p>{{student.mothersLastName | uppercase}}</p>
                                    </div>
                                    <div class="col-1">
                                        <p>{{student.age}}</p>
                                    </div>
                                    <div class="col-1">
                                        <p>{{student.gender}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <mat-paginator #studentsListPaginator [pageSizeOptions]="[2, 3, 5]" showFirstLastButtons
                        aria-label="Select page of periodic elements">
                    </mat-paginator>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->